/.vscode
/CSS Exercises
/CatPhotoApp
/Learning Project
/Little Taco Shop
/Web Development WorkSapce.code-workspace
JS Exercises/javascript.js
.gitignore
JS Exercises/index.html
JS Exercises/Loop Exercises/Listing/index.html
