/.vscode
/CSS Exercises
/CatPhotoApp
/Learning Project
/Little Taco Shop
/Web Development WorkSapce.code-workspace
JS Exercises/javascript.js
.gitignore
JS Exercises/index.html
JS Exercises/Loop Exercises/Listing/index.html
JS Exercises/Loop Exercises/Searching/index.html
JS Exercises/
Signup Form Project/bgimage.jpg
Signup Form Project/bilal-mansuri-p1wYs7ffiXg-unsplash.jpg
Signup Form Project/index.html
Signup Form Project/style.css
Admin Dashboard/index.html
Admin Dashboard/style.css
Admin Dashboard/icons/account-circle-outline.png
Admin Dashboard/icons/account-circle-outline.svg
Admin Dashboard/icons/calcu-calcu-min.png
Admin Dashboard/icons/calculator.jpeg
Admin Dashboard/icons/calendar-outline.svg
Admin Dashboard/icons/cloud-upload-outline.svg
Admin Dashboard/icons/cog-outline.svg
Admin Dashboard/icons/comment-plus-outline.svg
Admin Dashboard/icons/email-outline.svg
Admin Dashboard/icons/etch-min.png
Admin Dashboard/icons/form-min.png
Admin Dashboard/icons/github.svg
Admin Dashboard/icons/home.svg
Admin Dashboard/icons/hubspot.svg
Admin Dashboard/icons/magnify.svg
Admin Dashboard/icons/progress-star.svg
Admin Dashboard/icons/signup-form.jpeg
Admin Dashboard/icons/star-plus-outline.svg
