/.vscode
/CSS Exercises
/CatPhotoApp
/Learning Project
/Little Taco Shop
/Web Development WorkSapce.code-workspace
JS Exercises/javascript.js
.gitignore
JS Exercises/index.html
JS Exercises/Loop Exercises/Listing/index.html
JS Exercises/Loop Exercises/Searching/index.html
JS Exercises/
Signup Form Project/bgimage.jpg
Signup Form Project/bilal-mansuri-p1wYs7ffiXg-unsplash.jpg
Signup Form Project/index.html
Signup Form Project/style.css
